@media screen and (max-width:1300px) {
    .hero-section {
        background-image: url(images/back.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 3700px;
    }
    .logo svg {
        height: 48px;
        margin-top: 28px;
        display: none;
    }
    .m-logo svg {
        display: flex;
        height: 50px;
    

    }
    .hero-heading {
        color: white;
        max-width: 85vw;
        text-align: center;
    }
    .hero-heading h1 {
        font-size: 34px;
        font-weight: bolder;
    }
    .hero-heading :nth-child(2) {
        font-size: 16px;
        padding-top: 12px;
    }
    
}
@media screen and (max-width:1300px) {
.hero-input {
    display: flex;
    align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 9px;
}
.hero-input input {
    border: none;
    border-radius: 25px;
    padding: 17px 150px 17px 15px;
     width: 45vw;
     margin: auto;

}


.hero-input button {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 17px 115px 17px 115px;
    border: none;
    font-weight: 500;
    position: unset;
    font-size: 15px;
    

   
}


.hero-input-des {
    color: white;
    font-size: 13px;
    text-align: center;
    max-width: 85vw;
}
.hero-image img {
    width: 350px;
    padding-top: 20px;

}
.features {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 7px;
    margin: 85px 20px;
}
.feature1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.feature1 :nth-child(2) {
font-size: 18px;
}
.feature1 :nth-child(3) {
  
    font-size: 14px;
}
.brand-images {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 35px 10px;
    grid-row-gap: 30px;
}
.brand-images img{
    height: 70px;
}
.footer-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 120px auto;
    text-align: center;
}
.footer-para>:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
}
.footer-para :nth-child(2) {
    font-size: 17px;
    font-weight: 600;
}
.footer-end {
    gap: 9px;
    display: flex;
    justify-content: flex-end;
    margin: 30px 15px;
}
}

